.footer{
    bottom: 0;
    position: fixed;
    text-align:center;
    background-color: grey;
    width: 100%;
    line-height: 2;
    color: white;
    }
    
    canvas{
        border: 5px solid rgb(247, 1, 1);
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(4, 247, 255);
    }
    
    .heading{
        width:100%;
        font-size: 20px;
    }